asgiref==3.11.0
channels==4.3.2
channels-redis==4.3.0
daphne==4.2.2
Django==6.0.1
django-unfold==0.92.0
djangorestframework==3.16.1
gunicorn==25.2.0
packaging==26.0
pillow==12.1.0
psycopg2-binary
PyMuPDF==1.26.7
python-dotenv==1.2.1
sqlparse==0.5.5
tzdata==2025.3
whitenoise==6.8.2
